@model WikiGame.Models.LogOnModel
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wiki game</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">

    <!-- font-awesome-4.2.0 -->
    <link href="@Url.Content("~/fonts/font-awesome-4.2.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,200,400,300,500,700,900&amp;subset=latin,cyrillic-ext,cyrillic" rel="stylesheet" type="text/css">

    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <style type="text/css"></style>


</head>

<body>
    <div id="wrapper" class="login">
        <div id="main">

            <div class="container login">
                <div class="row">
                    <div class="page-header">
                        <h1>Wiki game <small>Learn while you have fun</small></h1>
                    </div>
                    <div class="col-md-5 col-md-offset-3">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Enter username and password</h3>
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form login-form" }))
                                {
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control user", @placeholder = "Username", @name = "", @type = "text", @autofocus = "" })
                                        </div>

                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control pass", @placeholder = "Password", @name = "", @type = "password", @value = "" })
                                        </div>

                                        @Html.Hidden("returnUrl", (object)ViewBag.ReturnUrl)

                                        <div class="">
                                            @Html.ValidationMessageFor(m => m.Password)
                                            @Html.ValidationMessageFor(m => m.UserName)
                                        </div>

                                        <div class="nopadding">
                                            <input type="submit" class="col-md-2 btn btn-primary btn-lg btn-block" value="Login">
                                            <a class="col-md-2 btn btn-primary btn-lg btn-block" href="@Url.Action("Register", "Account")">Register</a>
                                            <input type="button" class="col-md-2 btn btn-primary btn-lg btn-block" value="Login with Facebook" onclick="loginFB()">
                                        </div>
                                    </fieldset>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /main -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- Facebook sdk-->
    <script src="@Url.Content("~/Scripts/sdk.js")"></script>
    <script>
        function loginFB() {
            //if refering to this view after being logged
            if (FB.getLoginStatus()) {
                FB.logout();
            }
            FB.login(function (response) {
                if (response.status === 'connected') {
                    var form = document.createElement("form");
                    form.setAttribute("method", "POST");
                    form.setAttribute("action", "@Url.Action("FBLogOn")");
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "accessToken");
                    hiddenField.setAttribute("value", response.authResponse.accessToken);
                    form.appendChild(hiddenField);

                    document.body.appendChild(form);
                    form.submit();
                }
            });
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: "@ViewBag.appId",
                cookie: true,
                xfbml: true,  // parse social plugins on this page
                version: 'v2.3'
            });
        }
    </script>
</body>
</html>
