@model WikiGame.Models.PasswordRestorerModel
@{
    ViewBag.Title = "RestorePassword";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2>Restore your password</h2>

@{
     if(ViewBag.email_sent != null){
         <h3>An email with instructions has been sent!</h3>
     }
     else{
         
         using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "Password restore was unsuccessful. Please correct the errors and try again.")
                if(ViewBag.noUser != null ){
                    <div class="alert alert-success" role="alert">
                        <p>@ViewBag.noUser</p>
                    </div>
                }
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3">

                            <fieldset>
                                <legend>Enter your profile's email</legend>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control user", @placeholder = "Email", @name = "", @type = "text", @autofocus = "" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <p>
                                    <input type="submit" class="col-md-2 btn btn-primary btn-lg btn-block" value="Restore">
                                </p>
                            </fieldset>
                        </div>
                    </div>
                </div>
            }
     }
 
 }


