<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CSS("Site.css")
    @Html.CSS("bootstrap.min.css")
    @Html.Script("jquery-1.9.1.min.js")
    @Html.Script("bootstrap.min.js")
    @Html.Script("jquery.signalR-2.2.0.min.js")
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    @Html.Script("WikiGame.js")

</head>

<script type="text/javascript">
    var Site = {}

    Site.getVirtualPath = function () {
        return "@Url.Content("~")";
    }

    Site.getPathToAction = function (action, controller) {
        return Site.getVirtualPath() + controller + "/" + action;
    }


</script>
<body>
    <div class="pull-right">
        <div id="LogOff">
            @if (Request.IsAuthenticated)
            {
                <strong id="Username">@User.Identity.Name</strong>
                @Html.ActionLink("[LogOff]",
                     "LogOff",
                "Account")
            }
        </div>

    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
